[access]
	inheritFrom = All-Projects
[project]
	description = Repository for LauzHack 2017 (by Szechuan Source)
[access "refs/*"]
	owner = group user/Simon Narduzzi (Narduzzi)
[access "refs/for/refs/*"]
	read = group user/Simon Narduzzi (Narduzzi)
	push = group user/Simon Narduzzi (Narduzzi)
	label-Code-Review = -2..+2 group user/Simon Narduzzi (Narduzzi)
	label-Verified = -1..+1 group user/Simon Narduzzi (Narduzzi)
	rebase = group user/Simon Narduzzi (Narduzzi)
	removeReviewer = group user/Simon Narduzzi (Narduzzi)
	submit = group user/Simon Narduzzi (Narduzzi)
[access "refs/heads/*"]
	read = group user/Simon Narduzzi (Narduzzi)
	create = group user/Simon Narduzzi (Narduzzi)
	push = +force group user/Simon Narduzzi (Narduzzi)
	pushMerge = group user/Simon Narduzzi (Narduzzi)
[access "refs/tags/*"]
	push = group user/Simon Narduzzi (Narduzzi)
	push = +force group user/Simon Narduzzi (Narduzzi)
